html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.chat-area {
    display: none;
}

.messages {
    max-height: 45vh;
    overflow: auto;
}

.message {
    word-wrap: break-word;
}

.users {
    max-height: 50vh;
    overflow: auto;
}
